// Styleguide styles are similar to style.css but might include things like extra component styling (for the guide itself) or things like a debug grid|special class that's not meant for production.

// Import the susy library.
@import 'susy';

// Import susy implementation.
// Includes grid config etc.
// NB: Could include other types of layouts!
@import 'layouts/susy';

// Import an example component.
// NB: could also aggregate them into a components/all partial.
@import 'components/block';

// Import an example component.
@import 'components/cta';

// Import themeing.
// Includes color variables etc.
// NB: none of this should be structural, but rather thematic overrides and mainly adding colour.
@import 'theme/colors';

// Import debugging classes.
@import 'utilities/debug';

// Styleguide specific styling begins here.
.sg {
  nav#menu {
    background:lightgrey;
    padding: 1em;
    width: susy-span(6 of 6);
  }
  
  .component-example {
    border: 1px $neutral-border solid;
    margin: 0 0 1em 0;
    padding: 0.5em 0 1em;
  }
}