//- index.pug
doctype html
html
  include sg-includes/head.pug
  body

    include sg-includes/nav.pug
    h1 Style Guide
    p This style guide includes some components and generic HTML tags.
    
    #components
      if allComponents
        // - using the allComponents variable to include all components in /components. 
        div !{allComponents}
      else
        // - no allComponents variable given.

    // TODO: these should be an include as well perhaps...
    #html-tags
      section
        include sg-includes/standard-tags.html
    include sg-includes/foot.pug