// Define some basic colour palette variables.
$neutral-border: lightgrey;
$heavy-border: black;
$exciting-blue: rgb(39, 205, 255);
$exciting-pink: rgb(255, 95, 148);
$exciting-yellow: rgb(255, 232, 23);